@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: monospace;
  font-size: large;
}
.Container{
  height: auto;
  width: auto;
  align-items: center;
}

.Main {
  display: flex;
  flex-direction: column;
}

.Options{
  height: 100px;
  width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Dropdown{
  display: flex;
  align-items: center;
  padding-right: 2.6rem;
  margin-right: 2.6rem;
}
.Dropdown h4{
  padding: 10px;
}

.Sourcefield{
  padding-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.Sourcefield h3{
  padding: 10px;
}

.Destinationfield{
  padding-left: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Destinationfield h3{
  padding: 10px;
}
.drop{
  max-height: 100px;
  overflow-y: scroll;
}
.TextBox{
  width: 21.4rem;
}
.Button{
  margin-left: 10rem;
}
#fields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}