@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
  font-family: monospace;
  font-size: large;
}
.Body{
  padding-left: 10%;
  display: column;
  align-items: center;
}
.Dropdown{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.4rem;
}
.Dropdown h4{
  padding-right: 6%;
}
.drop{
  height: 2.2rem;
  width: 20rem;
  overflow-y: scroll;
  padding-left: ;
}
.Sourcefield{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 1.4rem;
}
.Sourcefield h3{
  padding-right: 8%;
}

.Destinationfield{
  padding-bottom: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.TextBox{
  width: 20rem;
  height: 2.2rem;
}
#fields{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 1.4rem;
}